@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
    url("../fonts/Gilroy-ExtraBold.woff") format("woff"),
    url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Light.woff2") format("woff2"),
    url("../fonts/Gilroy-Light.woff") format("woff"),
    url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Light.eot");
  src: url("../fonts/DINPro-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-Light.woff2") format("woff2"),
    url("../fonts/DINPro-Light.woff") format("woff"),
    url("../fonts/DINPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

*,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
body {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex: auto;
  width: 100%;
  min-height: 100%;
}
.wrap {
  overflow: hidden;
  height: 100%;
  width: 100%;
  user-select: none;
}
.wrap__slide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-basis: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.app-slide{
  min-height: 1px;
  float: left;
  transform: translateZ(0);
}
.slide__container {
  width: calc(100% - (126px + 83px));
  height: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */
.slide__container > div {
  display: flex;
  height: auto;
}
.app-line{
  overflow: hidden;
}
.clearfix::after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}
.wrap__slide--head {
  background-image: url("/../img/head-slide/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.wrap__slide--description {
  background-image: url("/../img/description-slide/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.wrap__slide--keyMessage {
  background-image: url("/../img/keymessage-slide/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.title {
  font-size: 100px;
  font-weight: 300;
  color: rgb(23, 23, 23);
  text-transform: uppercase;
  line-height: 1.073;
  text-align: left;
  z-index: 4;
}
.block {
  display: flex;
  position: relative;
  flex-direction: column;
}
.block-head{
  flex-direction: column-reverse;
}
.title__accent {
  font-weight: bold;
}
.title__span {
  font-size: 35px;
  font-family: "DIN Pro";
  color: rgb(36, 36, 36);
  text-transform: uppercase;
  line-height: auto;
  text-align: left;
}
.title-child{
  font-size: 35px;
  font-family: "DIN Pro";
  color: rgb(36, 36, 36);
  text-transform: uppercase;
  line-height: auto;
  text-align: left;
  font-weight: normal;
}
.block__button {
  background-color: #ff6aa2;
  font-size: 26px;
  outline: none;
  border: none;
  text-align: right;
  border-radius: 5em;
  position: absolute;
  right: 0;
  bottom: 20px;
  padding: 20px 40px 20px 80px;
}
.block__button::after {
  content: "";
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background-color: #000;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}

.icon{
  position: absolute;
}
.sperm-icon{
  top: -90px;
  left: 300px;
  width: 850px;
  z-index: 5;
}
.bacteria1-icon{
  top: -150px;
  right: 120px;
  width: 60px;
  animation: move3 3s infinite linear;
  animation-direction: alternate-reverse;
}

@keyframes move3 {
  0%{
    top: -150px;
    right: 120px;
  }
  100%{
    top: -160px;
    right: 140px;
    width: 65px;
  }
}


.bacteria2-icon{
  top: 5px;
  right: -10px;
  width: 100px;
  animation: rotate 8s infinite linear;
  animation-direction: alternate-reverse;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
    top: 0;
  }
  25%{
    top: 0;
    right: 20px;
  }
  50%{
    top: 3px;
    right: 25px;
  }
  75%{
    top: 0px;
    right: 10;
  }
  100%{
    transform: rotate(90deg);
    top: 0;
    right: -5px;
  }
}

.bacteria3-icon{
  bottom: 20px;
  left: -40px;
  width: 70px;
  z-index: 3;
  animation: move2 3s infinite linear;
  animation-direction: alternate-reverse;
}

@keyframes move2 {
  0%{
    bottom: 20px;
    left: -40px;
  }
  100%{
    bottom: 45px;
    left: -55px;
  }
}
.bacteria4-icon{
  top: 50px;
  left: -140px;
  width: 280px;
}
.bacteria5-icon{
  top: 25px;
  right: 40px;
  width: 60px;
}
.bacteria6-icon{
  bottom: 50px;
  left: 40px;
  width: 280px;
  animation: move1 5s infinite linear;
  animation-direction: alternate-reverse;
}

@keyframes move1 {
  0%{
    bottom: 50px;
    left: 40px;
  }
  100%{
    bottom: 80px;
    left: 70px;
  }
}
.bacteria7-icon{
  bottom: 80px;
  left: 400px;
  width: 70px;
}
.bacteria8-icon{
  bottom: -100px;
  right: 160px;
  width: 200px;
  animation: scale 8s infinite linear;
  animation-direction: alternate-reverse;
}

@keyframes scale {
  0%{
    width: 300px;
  }
  50%{
    bottom: -50px;
  }
  75%{
    bottom: -40px;
  }
  100%{
    bottom: -45px;
  }
}

.text-description-wrap{
  background-color: rgb(255, 255, 255);
  box-shadow: 5.446px 8.387px 232.5px 17.5px rgba(157, 185, 198, 0.39);
  border-radius: 30px;
  overflow: hidden;
  padding: 2em;
  max-height: 400px;
  position: relative;
}
.text-description-wrap::after{
  content:"";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(255, 255, 255, 0.7) 100%);
  transition: opacity 0.3s linear;
}
.text-description-wrap:hover::after{
  opacity: 0;
}
.text-description{
  font-size: 20px;
  font-family: "DIN Pro";
  color: rgb(23, 23, 23);
  line-height: 1.364;
  text-align: left;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  direction: rtl;
}
.text-description-span{
  font-weight: 600;
}

.text-description::-webkit-scrollbar {
    width: 40px; /* ширина для вертикального скролла */
    height: auto; /* высота для горизонтального скролла */
    background-color: transparent;
}
.text-description::-webkit-scrollbar::after{
  content: '';
  position: absolute;
  left: 0;
  width: 7px; /* ширина для вертикального скролла */
  height: 8px;
  border-radius: 5px;
  background-color: #000;
}
/* ползунок скроллбара */
.text-description::-webkit-scrollbar-thumb {
  background-image: url("/../img/description-slide/scroll.svg");
  background-repeat: no-repeat;
  background-size: content;
  background-position: top top;
  user-select:contain;
  position: relative;
}
.text-description::after::-webkit-scrollbar-thumb{
  content: '';
  position: absolute;
  left: 0;
  width: 7px; /* ширина для вертикального скролла */
  height: 8px;
  border-radius: 5px;
  background-color: #000;
}
.sperm2-icon{
  width: 970px;
  top: -30px;
  right: -400px;
}
.sperm3-icon{
  width: 890px;
  top: -60px;
  right: -550px;
}
.sperm4-icon{
  width: 500px;
  top: -80px;
  right: -300px;
}
.sperm5-icon{
  width: 450px;
  top: 300px;
  right: -450px;
}
.sperm6-icon{
  width: 430px;
  top: 400px;
  right: -450px;
}

.title-child-keyMessage{
  margin-left: 2.3em;
  margin-bottom: 3em;
}

.title-brand-span{
  font-size: 52px;
  font-family: "Gilroy";
  font-weight: normal;
  color: rgb(36, 36, 36);
  text-transform: uppercase;
  line-height: 1.2;
  text-align: left;
}
.title-brand-name{
  font-weight: bold;
}
.block-keyMessage{
  width: 86%;
  margin-left: auto;
  margin-right: 0;
}
.block-pills{
  display: flex;
  flex-direction: row;
  column-gap: 3em;
}
.items-wrap{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.item-pills{
  background-color: #fff;
  padding: 1.7em;
  padding-top: 2.5em;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
  box-shadow: 5.446px 8.387px 232.5px 17.5px rgba(157, 185, 198, 0.39);
}
.item-pills-recipe{
  padding-left: 5em;
}
.item-pills-btn{
  position: relative;
}
.pills-descr{
  font-size: 25px;
  font-family: "DIN Pro";
  color: rgb(46, 46, 46);
  line-height: 1.2;
}