@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
    url("../fonts/Gilroy-ExtraBold.woff") format("woff"),
    url("../fonts/Gilroy-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Light.eot");
  src: url("../fonts/Gilroy-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Light.woff2") format("woff2"),
    url("../fonts/Gilroy-Light.woff") format("woff"),
    url("../fonts/Gilroy-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "DIN Pro";
  src: url("../fonts/DINPro-Light.eot");
  src: url("../fonts/DINPro-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/DINPro-Light.woff2") format("woff2"),
    url("../fonts/DINPro-Light.woff") format("woff"),
    url("../fonts/DINPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

*,
ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Gilroy";
}
html {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}
body {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex: auto;
  width: 100%;
  min-height: 100%;
}
.wrap {
  overflow: hidden;
  height: 100%;
  width: 100%;
  user-select: none;
}
.wrap__slide {
  width: 100%;
  height: 100%;
  display: flex;
  flex-basis: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.app-slide{
  min-height: 1px;
  float: left;
  transform: translateZ(0);
}
.slide__container {
  width: calc(100% - (126px + 83px));
  height: 100vh;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
} */
.slide__container > div {
  display: flex;
  height: auto;
}
.app-line{
  overflow: hidden;
}
.clearfix::after{
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}
.wrap__slide--head {
  background-image: url("/../img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.title {
  font-size: 100px;
  font-weight: 300;
  color: rgb(23, 23, 23);
  text-transform: uppercase;
  line-height: 1.073;
  text-align: left;
  z-index: 4;
}
.block {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}
.title__accent {
  font-weight: bold;
}
.title__span {
  font-size: 35px;
  font-family: "DIN Pro";
  color: rgb(36, 36, 36);
  text-transform: uppercase;
  line-height: auto;
  text-align: left;
}
.block__bitton {
  background-color: #ff6aa2;
  font-size: 26px;
  outline: none;
  border: none;
  text-align: right;
  border-radius: 5em;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 52px 70px 52px 160px;
}
.block__bitton::after {
  content: "";
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #000;
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
.wrap__slide--description {
  background-color: brown;
}
.wrap__slide--keyMessage {
  background-color: cadetblue;
}
.wrap__slide--advantages {
  background-color: coral;
}
.icon{
  position: absolute;
}
.sperm-icon{
  top: -90px;
  left: 300px;
  width: 850px;
  z-index: 5;
}
.bacteria1-icon{
  top: -150px;
  right: 120px;
  width: 60px;
  animation: move3 3s infinite linear;
  animation-direction: alternate-reverse;
}

@keyframes move3 {
  0%{
    top: -150px;
    right: 120px;
  }
  100%{
    top: -160px;
    right: 140px;
    width: 65px;
  }
}


.bacteria2-icon{
  top: 5px;
  right: -10px;
  width: 100px;
  animation: rotate 8s infinite linear;
  animation-direction: alternate-reverse;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
    top: 0;
  }
  25%{
    top: 0;
    right: 20px;
  }
  50%{
    top: 3px;
    right: 25px;
  }
  75%{
    top: 0px;
    right: 10;
  }
  100%{
    transform: rotate(90deg);
    top: 0;
    right: -5px;
  }
}

.bacteria3-icon{
  bottom: 20px;
  left: -40px;
  width: 70px;
  z-index: 3;
  animation: move2 3s infinite linear;
  animation-direction: alternate-reverse;
}

@keyframes move2 {
  0%{
    bottom: 20px;
    left: -40px;
  }
  100%{
    bottom: 45px;
    left: -55px;
  }
}
.bacteria4-icon{
  top: 50px;
  left: -140px;
  width: 280px;
}
.bacteria5-icon{
  top: 25px;
  right: 40px;
  width: 60px;
}
.bacteria6-icon{
  bottom: 50px;
  left: 40px;
  width: 280px;
  animation: move1 5s infinite linear;
  animation-direction: alternate-reverse;
}

@keyframes move1 {
  0%{
    bottom: 50px;
    left: 40px;
  }
  100%{
    bottom: 80px;
    left: 70px;
  }
}
.bacteria7-icon{
  bottom: 80px;
  left: 400px;
  width: 70px;
}
.bacteria8-icon{
  bottom: -100px;
  right: 160px;
  width: 200px;
  animation: scale 8s infinite linear;
  animation-direction: alternate-reverse;
}

@keyframes scale {
  0%{
    width: 300px;
  }
  50%{
    bottom: -50px;
  }
  75%{
    bottom: -40px;
  }
  100%{
    bottom: -45px;
  }
}